# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Build
dist
dist-ssr

# Rust/Tauri
src-tauri/target

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Local env files
.env.local
.env.*.local
